form {

	// ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	// 	color: #d6d6d6;
	// }
	// ::-moz-placeholder { /* Firefox 19+ */
	// 	color: #d6d6d6;
	// }
	// :-ms-input-placeholder { /* IE 10+ */
	// 	color: #d6d6d6;
	// }
	// :-moz-placeholder { /* Firefox 18- */
	// 	color: #d6d6d6;
	// }

	// label {
	// 	font-size: 18px;
	// 	line-height: 27px;
	// 	margin-bottom: 4px;
	// 	display: block;
	// }

	// input[type="email"] {
	// 	height: 50px;
	// 	border: 1px solid #b8b8b8;
	// 	font-size: 26px;
	// 	padding-left: 8px;
	// 	margin-bottom: 20px;
	// }
	
	.input, .textarea {
		height: 3em;
		border-radius: 0;
		box-shadow: none;
		border-color: #b8b8b8;
		transition: all .2s ease-in-out;
	}

	.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
		border-color: #333;
	}

}