#mc_embed_signup {

	#mce-responses {
		margin-bottom: 1.5em;

		.response {
		    display: inline;
		    background: linear-gradient(transparent 30%, #fdf4aa 30%);
		    line-height: 1.25;
		}

	}
	
}
