@-webkit-keyframes wipe {
    0%   {
    	left: -100%;
    }
    33%  {
    	left: 0;
    }
    66%  {
    	left: 0;
    }
    100% {
    	left: 101%;
    }
}

@-webkit-keyframes wipe {
    0%   {
    	left: -100%;
    }
    33%  {
    	left: 0;
    }
    66%  {
    	left: 0;
    }
    100% {
    	left: 101%;
    }
}

@-webkit-keyframes appear {
    from   {
    	visibility: hidden;
    }
    to {
    	visibility: visible;
    }   
}

@-webkit-keyframes appear {
    from   {
    	visibility: hidden;
    }
    to {
    	visibility: visible;
    }   
}

.splash {
	background-color: black;
	color: white;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;

	&:before {
	    background-color: black;
	    bottom: 0;
	    content: '';
	    height: 0;
	    left: 0;
	    position: absolute;
	    transition: all 1s ease-in-out;
	    width: 100%;
	    z-index: 1;
	}

	&__title {
		font-size: 14vw;
		text-transform: uppercase;
		margin-top: 61px;
		line-height: 0.88666666666667;
		transition: all .15s ease-in-out;
		visibility: hidden;
		margin-bottom: 25px;
		overflow: hidden;

		span {
			display: inline-block;
			transition: all .5s ease-in-out;
		}

		> span {
			-webkit-transform: translateY( 0 );
			transform: translateY( 0 );
			overflow: hidden;
			float: left;

			&[aria-label=" "] {
				clear: left;
			}
			
			> span {
				-webkit-transform: translateY( 100% );
				transform: translateY( 100% );
			}

		}

		@for $i from 1 through 100 {
			> .char#{$i} > span {
				transition-delay: $i * .02s;
			}

		}

	}

	&__lead-text {
		font-size: 5.5vw;
		clear: left;
		line-height: 1.30769230769231;
		font-weight: 400;
		position: relative;
		margin: 0;
		padding-top: 1.26923076923077em;
		margin-bottom: 3em;
		display: inline-block;
		overflow: hidden;
		// visibility: hidden;
		transition-delay: 0.75s;
		color: transparent;

		&:before {
			content: '';
			height: 8px;
			left: 0;
			position: absolute;
			top: 0;
			width: 60px;
		}

		&:after {
			position: absolute;
			top: 0;
			left: -100%;
			height: 100%;
			width: 100%;
			content: '';
			transition: all .4s ease-in-out;
			background-color: white;
		}

	}

	@media ( min-width: 768px ) {
		
		&__title {
			font-size: 120px;
		}

		&__lead-text {
			font-size: 26px;
		}
	}

	@media ( min-width: 960px ) {

		&__title {
			font-size: 150px;
		}

	}

}

.is-animating {

	.splash {

		&:before {
			// height: 100%;
			transition-delay: 3s;
		}

		.splash__title {
			visibility: visible;

			> span {
				-webkit-transform: translateY( 0 );
				transform: translateY( 0 );

				> span {
					-webkit-transform: translateY( 0 );
					transform: translateY( 0 );
				}

			}

		}

		.splash__lead-text {
			color: white;
			transition-delay: 1.75s;

			&:before {
				background-color: white;
				transition-delay: 1.75s;
			}

			&:after {
				-webkit-animation-name: wipe;
				animation-name: wipe;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-delay: 1s;
				animation-delay: 1s;
			}

		}

	}

}